body {
	width:100%;
	height: 100%;
	margin: 0px;
	background: grey;
}
#header{
	
	padding: 1%;
	width: 100%;
	height: 40pt;
	background: linear-gradient(to right, #4C4C4C, #CEAD78);
	position: fixed;
	border-radius: 0 0 20px 20px;
	box-shadow: 10px 10px 10px #4C4C3A;
	z-index: 1000;


}

#scroll {
	padding-top: 50pt;
	width: 100%;
	height: 1000pt;
	margin: 0px;
	
}


.team{
	color: #DFDFDF;
	width: 100%;
	background-color: #4C4C4C;
	padding-bottom: 1%;
	float: right;
}

.aboutteam{
	text-align: center;
	margin-left: 350pt;
	padding-right: 200pt;
}

.neural{
	float: right;
	
}

.firstscreen{
	color: #DFDFDF;
	width:100%;
	height: 45%;
	background: linear-gradient(to right, #7393BA, #CEAD78);
	
	
}


.secondscreen{
	color: #DFDFDF;
	width: 100%; 
	height: 45%;
	background: #4C4C4C;
	
}

.thirdscreen{
	color: #DFDFDF;
	width: 100%;
	height: 60%;
	text-align:center;
	background-image: url(three.png);
	background-size: cover;
	
}
		
.fourthscreen{
	color: #DFDFDF;
	width: 100%;
	height: 60%;
	background: #4C4C4C;
	
}

.fifthscreen{
	color: #DFDFDF;
	width: 100%;
	height: 50%;
	background: linear-gradient(to right, #7393BA, #CEAD78);
}
		
.sixthscreen{
	color: #2C2C2;
	width: 100%;
	height: 60%;
	background: #D8D8D8;
}
		
.seventhscreen{
	color: #DFDFDF;
	width: 100%;
	height: 60%;
	background: linear-gradient(to right, #7393BA, #CEAD78);
}

.logoo{
	float:left;
	display:block;
    max-width: 250px;
    margin: 0 auto;
    width: 99%;
}
.inmenu{
	font-size: 1.5em;
	padding: 1%;
	margin-left: 75%;
	padding-bottom:2%;
	width: 30%;
	color: #DFDFDF;
	
	
}

.mia1{
	position: absolute;
	width: 25%;
	top: 14%;
	left: 42%;
	right: 45%;
	padding: 2%;
	box-shadow: 10px 10px 10px #4C4C3A;
	
	background: #505050;
	border-radius: 31px;
}

.photomia{
	float: right;
	right:3%;
	margin-top: 20%;
	
}

.link{
	list-style: none;
	position: absolute;
	top: 20%;
	left: 4%;
}

li{
	margin:10pt;
	padding: 20pt;
	background-color: #6AA9CA;
	border-radius:20pt;
	box-shadow: 5px 5px 5px #4C4C3A;
}

.wow{
	width: 80%;
	margin-left:10%;
	margin-right:10%;
}

.wow1{
	float: left;
	margin-left:8%;
	
}

.wow2{
	float: right;
	margin-right:8%;
}

.firsttext{
	padding-top: 100pt;
	padding-left: 55pt;
	padding-right: 55pt;
	padding-bottom: 10pt;
	text-align: center;
	
}

.secondtext{
	padding-top: 40pt;
	padding-left: 55pt;
	padding-right: 55pt;
	padding-bottom: 10pt;
	text-align: center;
	
}

.severalfacts{
	padding-top: 40pt;
	padding-left: 55pt;
	padding-right: 55pt;
	padding-bottom: 30pt;
	text-align: center;
}

.factssome{
	float: left;
	margin-top: 10%;
	margin-left:10%;
}

.factselse{
	float: right;
	margin-top: 20%;
	margin-right:7%;
}


p{
	top: 20%;
	float: left;
	margin: 5pt;
	padding: 5pt;
}
